* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(106, 96, 96);
  color: #000000;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: rgb(158, 145, 133);
  box-shadow: 1px 1px 20px black;
  border-radius: 0 0 5px 5px;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(158, 145, 133, 0.91);
}

a {
  text-decoration: none;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo {
  background-image: linear-gradient(
    to right,
    rgb(237, 229, 229),
    rgb(169, 111, 111)
  );
  box-shadow: 1px 1px 10px black;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 600px;
  white-space: nowrap;
  /* border: 1px solid black; */
}

.tab .tab-child {
  /* border: 1px solid red; */
  width: 120px;
  cursor: pointer;

  background-color: #936e6e;
  padding: 7px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 10px black;
}
.tab .tab-child:hover {
  background-color: #bda9a9;
}

.tab .tab-child a {
  letter-spacing: 1px;
  transition: all ease-in 0.6s;
}

.tab .tab-child a:hover {
  letter-spacing: 3px;
  transform: translateX(5px);
}

.body-container {
  padding: 10px 40px;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
  border-bottom: 1.5px solid rgb(176, 172, 172);
  justify-content: center;
  align-items: center;
}

.about-section-article {
  height: calc(100vh - 150px);
  width: 120%;
}

.about-section-article p {
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.about {
  padding: 10px 0;
}
.about-section-img-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-img-article img {
  width: auto;
  height: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
  padding: 10px;
}

.social {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 150px;
}

.social a {
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.btn-container {
  padding-top: 20px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 30px;
}

.btn-container .btn {
  height: 30px;
  background-color: blue;
  color: aliceblue;
  border-radius: 15px;
  box-shadow: 1px 1px 7px black;
  border: none;
  white-space: nowrap;
  padding: 5px 10px;
  max-width: 150px;
}

.btn-container .btn a {
  text-decoration: none;
  color: aliceblue;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid rgb(176, 172, 172);
  height: calc(100vh);
  transition: all 0.8s ease-in;

  /* grid-template-columns: 1fr 1fr; */
}

.skill-section > article > img {
  width: 300px;
  height: auto;
  background-image: linear-gradient(to right, #936e6e, #954141);

  padding: 5px;
  box-shadow: 1px 1px 5px rgb(18, 17, 17);
  border-radius: 10px;
}

.skill-section-article {
  padding-left: 20px;
}
.skill-header,
.proficiency-header,
.project-header,
.about-header {
  font-size: 30px;
}

/* 
.skill-section .skill li::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url("./image/lighting2.png");
  display: inline-block;
} */

.skill-section .skill li {
  margin: 0;
  padding: 36px 0 36px 84px;
  list-style: none;
  background-image: url("./image/lighting2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding: 5px 25px;
}

.skill-section-article > div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-section-article > div > div > i {
  margin-right: 35px;
}

.proficiency-section article {
  width: 500px;
  /* border: 1px solid red; */
  /* height: 100vh; */
}

.proficiency-section > article > .front {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin: 30px;
}

.proficiency-section article .front div {
  /* border: 1px solid red; */
  background-color: rgb(201, 221, 238);
  width: 400px;
  height: 10px;
  border-radius: 25px;
  box-shadow: 1px 1px 5px black;
  /* margin-top: 30px; */
}

.proficiency-section > article > .front > div > p {
  /* border: 1px solid black; */
  width: 300px;
  height: 10px;
  border-radius: 25px;
  background-color: rgb(199, 161, 234);
}

.proficiency-section > .proficiency-section-article > p {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proficiency-section > .proficiency-section-article > p > img {
  width: auto;
  height: 90%;
  padding: 5px;
  /* border-radius: 50%; */
  background-color: #936e6e;
  box-shadow: 1px 1px 10px black;
}

.proficiency-section > article > .prog > div > p {
  width: 250px;
  height: 10px;
  border-radius: 25px;
  background-color: rgb(199, 161, 234);
}

.project-section-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  padding-bottom: 30px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.project-details {
  width: 300px;
  /* border: 1px solid red; */
  height: 300px;
  box-shadow: 1px 1px 10px black;
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: rgb(77, 59, 59);
  color: #fff;
  height: 200px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer > .footer-article {
  height: 100px;
  width: 60%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.footer > .footer-article > ul > li {
  list-style-type: none;
  margin: 10px;
}

.footer > .footer-article > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.footer > .footer-article > select {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.footer > .footer-article > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-image {
  border-radius: 50%;
  border: 5px solid blue;
  height: 100px;
  width: auto;
  margin: 30px;
}

.hidden {
  transform: translateY(150px);
  opacity: 0;
}

.time {
  color: rgb(235, 218, 218);
  white-space: nowrap;
}

.copy {
  margin-top: 25px;
}

i:hover {
  color: blue;
}
